body {
  background-image: linear-gradient(to top, #3dbc02, #00b580, #00a6e1, #008cff, #1157fb);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.titulo {
  flex: 1 1 100%;
  text-align: center;
  margin-top: 200px;
  font-family: "Montserrat", sans-serif;
}

.titulo2 {
  flex: 1 1 100%;
  text-align: center;
  margin-top: 90px;
  font-family: "Montserrat", sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
  color: aliceblue;
}

.img {
  width: 80px;
  padding-right: 10px;
}

.input {
  width: 300px;
  height: 40px;
  padding: 5px;
  font-size: 14px;
  border-width: 0px;
  border-color: #cccccc;
  background-color: #ffffff;
  border-style: solid;
  border-radius: 11px;
  box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
  margin-top: 50px;
  margin-right: 50px;
}

.input:focus {
  outline: none;
}


.input2 {
  width: 200px;
  height: 40px;
  padding: 5px;
  font-size: 14px;
  border-width: 0px;
  border-color: #cccccc;
  background-color: #ffffff;
  border-style: solid;
  border-radius: 11px;
  box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
  margin-top: 50px;
  margin-right: 50px;
  position: relative;
}

.input2:focus {
  outline: none;
}

.btn {
  font-family: Roboto, sans-serif;
  font-weight: 0;
  font-size: 14px;
  color: #fff;
  background-color: #0066cc;
  padding: 10px 30px;
  border: 2px solid #0066cc;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition: 1000ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin-top: 50px;
}

.valor {
  flex: 1 1 100%;
  margin: 0 auto;
  margin-left: 50px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
