@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,600;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,1000;1,1000&display=swap');

body {
    background-size: 100%;
    height: auto;
    min-height: 840px;
    background: linear-gradient(120deg, #eeeeee 50%, #FEBB2E 40%);
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}



h1 {
    margin: 0;
    padding: 0;
}

.diasT {
    width: 100%;
    margin: 50px 0 20px 30px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20pt;
    font-weight: 400;
}

.dias {
    text-align: justify;
    margin: 10px 0 20px 120px;

    font-family: 'Nunito Sans', sans-serif;
    font-size: 20pt;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}



.opciones {
    width: 20%;
    height: 100%;
    position: relative;
    float: left;

}

.lista-Opciones {
    margin: 100px 0 0 50px;
}

li {
    list-style: none;
    height: 30px;
    width: 100%;
    padding: 20px 0 10px 30px;
    display: flex;
    align-items: center;
    cursor: pointer;

}

li:nth-child(4) {
    background: #bbd0ff;
    color: #000000;
    transform: scale(1.1);
    border-left: #1157fb 8px solid;
}

li:hover {
    background: #bbd0ff;
    color: #000000;
    transform: scale(1.1);
    border-left: #1157fb 8px solid;
}

.p {
    margin: 0;
    /* Ajusta según sea necesario */
    padding: 0;
    /* Ajusta según sea necesario */
}


.logo {
    width: 40px;
    height: 40px;
    padding: 0 10px 0 0;
    margin-top: -10px;
}

.boton {
    position: absolute;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

header {
    margin-top: 0px;
    height: 50px;
    width: 80%;
    float: right;
}

.titulo {
    flex: 1 1 100%;
    padding: 20px 20px 0px 0px;
    text-align: right;
    color: #000000;
}

.cajontitulo {
    height: 50px;
    width: 60%;
    float: left;
}

.cajontitulo .titulo {
    float: left;
    padding-left: 50px;
    padding-top: 20px;
    font-size: 25pt;
    font-weight: 600;
    /*font-style: italic;*/
}

span {
    font-weight: 600;
}

.titulo:nth-of-type(2) {
    font-size: 10pt;
    font-weight: 500;
    margin-top: -15px;
    font-style: italic;
}


.contenido {
    width: 80%;
    height: 100%;
    float: right;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.cuadro {
    width: 250px;
    height: 150px;
    background: #ffffff;
    margin: 50px 0 0 80px;
    border-radius: 15px;
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
    font-size: 16pt;
    font-weight: 700;
}

.titulo-Opciones {
    padding-left: 20px;
    font-size: 12pt;
    margin-top: 10px;
}


.cuadroTexto {
    width: 800px;
    height: 300px;
    background: #ffffff;
    margin: 50px 0 0 80px;
    border-radius: 15px;
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
    font-size: 16pt;
    font-weight: 700;
}

.cajaCedula {
    margin: 0px 0 20px 30px;
}

.cajaCedula .titulo {
    margin-top: 30px;
    float: left;
}



.input {
    font-family: 'Poppins', sans-serif;
    width: 500px;
    height: 40px;
    padding: 5px;
    font-size: 16px;
    border-width: 0px;
    border-color: #cccccc;
    background-color: #ffffff;
    border-style: solid;
    border-radius: 11px;
    box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
    margin: 50px 20px 0 0;
}

.input:focus {
    outline: none;
}

.valor {
    flex: 1 100%;
    height: auto;
    text-align: center;
    margin-left: -150px;
}

.input2 {
    font-family: 'Poppins', sans-serif;
    width: 230px;
    height: 40px;
    padding: 5px;
    font-size: 16px;
    border-width: 0px;
    border-color: #cccccc;
    background-color: #ffffff;
    border-style: solid;
    border-radius: 11px;
    box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
    margin: 0 50px 0 -300px;
    position: relative;
}

.input2:focus {
    outline: none;
}

.btn {
    height: 50px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    background-color: #0066cc;
    padding: 10px 30px;
    border: 2px solid #0066cc;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: 1000ms;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}




/*body {
    background-image: linear-gradient(to bottom,
            #3dbc02,
            #00b580,
            #00a6e1,
            #008cff,
            #1157fb);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.titulo2 {
    flex: 1 1 100%;
    text-align: center;
    margin-top: 200px;
    font-family: "Montserrat", sans-serif;
}

h1 {
    margin: 0;
    padding: 0;
    color: aliceblue;
}

.img {
    width: 80px;
    padding-right: 10px;
}

.input {
    width: 500px;
    height: 40px;
    padding: 5px;
    font-size: 14px;
    border-width: 0px;
    border-color: #cccccc;
    background-color: #ffffff;
    border-style: solid;
    border-radius: 11px;
    box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
    margin-top: 50px;
    margin-right: 50px;
}

.input:focus {
    outline: none;
}


.input2 {
    width: 500px;
    height: 40px;
    padding: 5px;
    font-size: 14px;
    border-width: 0px;
    border-color: #cccccc;
    background-color: #ffffff;
    border-style: solid;
    border-radius: 11px;
    box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);    
    margin-right: 50px;
    position: relative;
}

.input2:focus {
    outline: none;
}

.btn {
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background-color: #0066cc;
    padding: 10px 30px;
    border: 2px solid #0066cc;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-top: 50px;
}



table {
    margin: 0 auto;
    margin-top: 50px;
    width: 85%;
    font-family: Arial, sans-serif;
    border-spacing: 0;
}

caption {
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: #FEBB2E;
    border: 1px solid #000;
}

th,
td {
    padding: 10px;
    text-align: left;
    
    font-size: 10pt;
    

}

td:nth-child(even) {
    background-color: #dddddd;
}

td:nth-child(odd) {
    background-color: #edeef1;
}

th {
    background-color: #FEBB2E;
    border: 1px solid #000;
}

tr {
    background-color: #f5f5f5;
}
*/